### Import numpy and pandas to get started

In [56]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import re
import csv

### Preprocessing/Analysis (28 pts)

1. [9 pts] Fill in the missing latitude and longitude values by calculating the average for that country. Round the average to 2 decimal places.

In [57]:
csv_file = "EuCitiesTemperatures.csv"
eu_temp_df = pd.read_csv(csv_file)
eu_temp_df

,city,country,population,EU,coastline,latitude,longitude,temperature
0,Elbasan,Albania,2.90,no,yes,41.12,20.08,15.18
1,Andorra,Andorra,0.07,no,no,42.50,1.52,NaN
2,Innsbruck,Austria,8.57,yes,no,NaN,11.41,4.54
3,Graz,Austria,8.57,yes,no,47.08,NaN,6.91
4,Linz,Austria,8.57,yes,no,48.32,14.29,6.79
...,...,...,...,...,...,...,...,...
208,Edinburgh,United Kingdom,65.11,yes,yes,55.95,NaN,NaN
209,Exeter,United Kingdom,65.11,yes,yes,50.70,-3.53,10.14
210,Inverness,United Kingdom,65.11,yes,yes,NaN,-4.23,8.00
211,Glasgow,United Kingdom,65.11,yes,yes,55.87,-4.25,8.60
212,Swansea,United Kingdom,65.11,yes,yes,51.63,-3.95,9.73

In [58]:
miss_lat = eu_temp_df[eu_temp_df["latitude"].isna()]
miss_lat

,city,country,population,EU,coastline,latitude,longitude,temperature
2,Innsbruck,Austria,8.57,yes,no,NaN,11.41,4.54
7,Minsk,Belarus,9.48,no,no,NaN,27.57,5.28
8,Orsha,Belarus,9.48,no,no,NaN,NaN,4.93
9,Pinsk,Belarus,9.48,no,no,NaN,NaN,6.42
15,Plovdiv,Bulgaria,7.10,yes,yes,NaN,NaN,8.27
...,...,...,...,...,...,...,...,...
196,Zhytomyr,Ukraine,44.62,no,yes,NaN,NaN,6.67
204,Aberdeen,United Kingdom,65.11,yes,yes,NaN,-2.08,NaN
205,Birmingham,United Kingdom,65.11,yes,yes,NaN,-1.92,8.81
206,Bradford,United Kingdom,65.11,yes,yes,NaN,-1.75,NaN
210,Inverness,United Kingdom,65.11,yes,yes,NaN,-4.23,8.00

In [59]:
miss_lat_countries = miss_lat["country"].unique()

In [60]:
country_avg_lat_dict = {}
for country in miss_lat_countries:
    avg = eu_temp_df.loc[(eu_temp_df["country"]==country) & (~eu_temp_df["latitude"].isna()), "latitude"].mean()
    avg = round(avg, 2)
    country_avg_lat_dict[country] = avg

In [61]:
for country in miss_lat_countries:
    eu_temp_df.loc[(eu_temp_df["country"]==country) & (eu_temp_df["latitude"].isna()), "latitude"] = country_avg_lat_dict[country]

In [62]:
miss_long = eu_temp_df[eu_temp_df["longitude"].isna()]
miss_long

,city,country,population,EU,coastline,latitude,longitude,temperature
3,Graz,Austria,8.57,yes,no,47.08,NaN,6.91
5,Salzburg,Austria,8.57,yes,no,47.81,NaN,4.62
8,Orsha,Belarus,9.48,no,no,52.61,NaN,4.93
9,Pinsk,Belarus,9.48,no,no,52.61,NaN,6.42
11,Hrodna,Belarus,9.48,no,no,53.68,NaN,NaN
...,...,...,...,...,...,...,...,...
196,Zhytomyr,Ukraine,44.62,no,yes,48.71,NaN,6.67
199,Yevpatoriya,Ukraine,44.62,no,yes,45.20,NaN,NaN
201,Blackpool,United Kingdom,65.11,yes,yes,53.83,NaN,NaN
207,Dundee,United Kingdom,65.11,yes,yes,56.47,NaN,NaN
208,Edinburgh,United Kingdom,65.11,yes,yes,55.95,NaN,NaN

In [55]:
miss_long_countries = miss_long["country"].unique()

In [64]:
country_avg_long_dict = {}
for country in miss_long_countries:
    avg = eu_temp_df.loc[(eu_temp_df["country"]==country) & (~eu_temp_df["longitude"].isna()), "longitude"].mean()
    avg = round(avg, 2)
    country_avg_long_dict[country] = avg

In [65]:
for country in miss_long_countries:
    eu_temp_df.loc[(eu_temp_df["country"]==country) & (eu_temp_df["longitude"].isna()), "longitude"] = country_avg_long_dict[country]

In [68]:
eu_temp_df

,city,country,population,EU,coastline,latitude,longitude,temperature
0,Elbasan,Albania,2.90,no,yes,41.12,20.08,15.18
1,Andorra,Andorra,0.07,no,no,42.50,1.52,NaN
2,Innsbruck,Austria,8.57,yes,no,47.85,11.41,4.54
3,Graz,Austria,8.57,yes,no,47.08,14.02,6.91
4,Linz,Austria,8.57,yes,no,48.32,14.29,6.79
...,...,...,...,...,...,...,...,...
208,Edinburgh,United Kingdom,65.11,yes,yes,55.95,-2.94,NaN
209,Exeter,United Kingdom,65.11,yes,yes,50.70,-3.53,10.14
210,Inverness,United Kingdom,65.11,yes,yes,53.55,-4.23,8.00
211,Glasgow,United Kingdom,65.11,yes,yes,55.87,-4.25,8.60
212,Swansea,United Kingdom,65.11,yes,yes,51.63,-3.95,9.73

2. [9 pts] Find out the subset of cities that lie between latitudes 40 to 60 (both inclusive) and longitudes 15 to 30 (both inclusive). Find out which countries have the maximum number of cities in this geographical band. (More than one country could have the maximum number of values.)

In [69]:
in_geo_band = eu_temp_df.loc[(eu_temp_df["latitude"] >= 40) & (eu_temp_df["latitude"] <= 60) & (eu_temp_df["longitude"] >= 15) & (eu_temp_df["longitude"] <= 30)]
in_geo_band

,city,country,population,EU,coastline,latitude,longitude,temperature
0,Elbasan,Albania,2.90,no,yes,41.12,20.08,15.18
6,Vienna,Austria,8.57,yes,no,48.20,16.37,7.86
7,Minsk,Belarus,9.48,no,no,52.61,27.57,5.28
8,Orsha,Belarus,9.48,no,no,52.61,25.63,4.93
9,Pinsk,Belarus,9.48,no,no,52.61,25.63,6.42
...,...,...,...,...,...,...,...,...
165,Bursa,Turkey,79.62,no,yes,40.20,29.07,11.16
169,Edirne,Turkey,79.62,no,yes,41.67,26.57,NaN
183,Tekirdag,Turkey,79.62,no,yes,40.99,27.51,13.02
186,Chernivtsi,Ukraine,44.62,no,yes,48.71,25.92,7.06
193,Rivne,Ukraine,44.62,no,yes,48.71,26.25,6.76

In [83]:
country_city_count = in_geo_band.groupby(["country"]).size()
max_cities = country_city_count.max()
max_city_country_list = [country for country in country_city_count.keys() if country_city_count[country]==max_cities]

In [85]:
max_city_country_frames = []
for country in max_city_country_list:
    frame = eu_temp_df[eu_temp_df["country"]==country]
    max_city_country_frames.append(frame)

In [86]:
max_city_country_df = pd.concat(max_city_country_frames)
max_city_country_df

,city,country,population,EU,coastline,latitude,longitude,temperature
108,Bialystok,Poland,38.59,yes,yes,53.15,23.17,6.07
109,Bydgoszcz,Poland,38.59,yes,yes,53.12,19.43,7.14
110,Bytom,Poland,38.59,yes,yes,52.48,19.43,NaN
111,Elblag,Poland,38.59,yes,yes,52.48,19.40,6.68
112,Kielce,Poland,38.59,yes,yes,50.89,20.66,7.29
113,Koszalin,Poland,38.59,yes,yes,54.20,19.43,NaN
114,Poznan,Poland,38.59,yes,yes,52.41,16.90,8.31
115,Wroclaw,Poland,38.59,yes,yes,51.11,17.03,NaN
116,Warsaw,Poland,38.59,yes,yes,52.48,19.43,7.20
119,Botosani,Romania,19.37,yes,yes,47.75,26.66,8.23
120,Braila,Romania,19.37,yes,yes,45.29,27.97,NaN
121,Bucharest,Romania,19.37,yes,yes,44.43,26.10,NaN
122,Craiova,Romania,19.37,yes,yes,44.33,25.96,NaN
123,Sibiu,Romania,19.37,yes,yes,45.80,24.14,NaN
124,Arad,Romania,19.37,yes,yes,45.52,21.32,NaN
125,Bacau,Romania,19.37,yes,yes,45.52,26.92,7.51
126,Baia Mare,Romania,19.37,yes,yes,45.52,25.96,8.87
127,Constanta,Romania,19.37,yes,yes,45.52,28.61,11.24